.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #1f1f1f;
  text-decoration: overline;
}

.navBar {
  background: #e3e6f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 5rem;
  width: 100%;
  height: 7rem;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  transition: box-shadow 0.5s ease;
}

.shadow{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.navLinkContainer,
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links,
.cart {
  list-style: none;
  position: relative;
  font-size: 1.5rem;
}

a {
  color: #1f1f1f;
  font-size: 1.5rem;
  padding: 0 1.25rem;
  font-weight: 600;
  transition: all 0.3s;
}

.cart {
  padding: 0 1.25rem;
}

.navLinkContainer .links a:hover,
.desktop .links a:hover {
  color: #088178;
}

.navLinkContainer .links a:hover::after,
.desktop .links a:hover::after {
  content: "";
  background: #088178;
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 1.2rem;
}

.hambugger,
.close {
  display: none;
}

.hambugger i,
.close i {
  font-size: 3rem;
  cursor: pointer;
}

.close i {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

@media (min-width: 800px) {
  .navLinkContainer {
    display: none;
  }
}

@media (max-width: 800px) {
  .navLinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 30rem;
    height: 100vh;
    position: fixed;
    right: 0rem;
    top: 0;
    padding: 8rem 0 0 1rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    background: #e3f3e6;
    transition: all 0.3s;
  }

  .desktop {
    display: none;
  }

  a {
    font-size: 2.2rem;
  }

  .hambugger,
  .close {
    display: block;
  }
}

@media (max-width: 477px) {
  .navBar {
    padding: 1rem 3rem;
  } 

  .navLinkContainer{
    width: 20rem;
  }
}