.button,
.inverted,
.newsletter {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.inverted {
  font-size: 1.3rem;
  padding: 1.1rem 1.5rem;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0;
}

.newsletter {
  background: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter:disabled {
  cursor: not-allowed;
}

.cart,
.close,
.pay {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #088178;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.cart:hover,
.close:hover,
.pay:hover {
  background-color: #4cd4cb;
  border-color: #4cd4cb;
  color: white;
}

.close {
  color: #8a2b06;
  border: 1px solid #8a2b06;
}

.cart a,
.close a {
  padding: 0;
  font-size: 1rem;
  color: #088178;
}

.cart:hover a {
  color: #fff;
}

.pay {
  font-weight: bold;
  color: #088178;
  cursor: pointer;
  margin-left: auto;
  margin-top: 1rem;
}

.button:hover {
  background: #088178;
  color: #fff;
}
