.newsLetter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../../assets/images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: cover;
  background: #041e42;
  padding: 4rem 8rem;
  margin: 4rem 0;
}

.newsLetter h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}

.newsLetter p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #818ea0;
}

.newsLetter p span {
  color: #ffbd27;
}

.newsLetter form {
  width: 100%;
  display: flex;
}

.newsLetter input {
  padding: 1.25rem;
  font-size: 1.4rem;
  height: 4.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.newsLetter h6 {
  color: red;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .newsLetter{
    display: block;
    text-align: center;
  }
}

@media (max-width: 477px) {
  .newsLetter{
    padding: 4rem;
  }

  .newsLetter h4 {
    font-size: 1.6rem;
  }
}