.footer {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  color: #4b5652;
}

@media (max-width: 477px) {
  .footer {
    padding: 2rem 4rem;
  }

  .copyright {
    font-size: 1.1rem;
  }
}
