.banner {
  padding: 0rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .banner {
    display: block;
  }
}

@media (max-width: 477px) {
  .banner {
    padding: 0 4rem;
  }
}
